.b-tree-node__content{
  padding-left: 0;
  display: flex;
  align-items: center;
  min-height: 28px;
  cursor: pointer;
  border-radius: 6px
}

.b-tree-node__content:hover {
  background-color: #f2f2f2;
}

.b-tree-node:hover {
  .id-tag{
    display: flex;
  }
}

a{
  transition: transform .3s ease-in-out;
  margin-right: 2px;
  &.expand{
    min-width: 16px;
    min-height: 16px;
    cursor: pointer;
    color: grey;
    font-size: 12px;
    padding: 4px;
    &.expanded{
      transform: rotate(90deg);
    }
  }

}

.mwx240{
  max-width: 240px;
}



.id-tag{
  width: 30px;
  height: fit-content;
  background: #f2f2f2;
  right: 8px;
  top: -12px;
  display: none;
  /* align-items: center; */
  justify-content: center;
}

